body {
    font-family: 'Poppins', sans-serif;
    background-color: #f4f4f9;
}

h1 {
    color: #3f51b5;
}

#result-area {
    background-color: #eef2f7;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.btn-primary {
    background-color: #673ab7;
    border-color: #673ab7;
}

.btn-primary:hover {
    background-color: #5e35b1;
    border-color: #5e35b1;
}

#original-stack, #new-stack {
    background-color: #e1bee7;
    padding: 10px;
    border-radius: 5px;
    color: #212121;
}
